html{background-color:burlywood;}

h1{color: blueviolet; background-color: plum;}

h3{color:blueviolet; background-color: aquamarine;}

.snail{color:firebrick; background-color:pink;}

.brzuch{color:fuchsia;background-color: beige;}

#item{color: orangered;background-color:palegreen;}

